.navbar {
  background-color: #fff;
  color: #333;
  position: relative;
  
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  height: 70px;

  @media (max-width: 768px) {
    height: 50px;
  }

  /* styles for screens with max width of 576px (phones and smaller) */
  @media (max-width: 576px) {
    height: 30px;
  }
}
nav.navbar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#navbarIMG {
  position: absolute;
  right: 95%;
  top: 50%;
  transform: translateY(-50%);
  max-height: 80%;
  height: auto;
}

.navbar a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
  transition: color 0.3s ease-in-out;
  
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
}


.navbar a:hover {
  color: #777;
}